/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1a1a1a, #333333); /* Fondo degradado */
    color: #000000; 
    line-height: 1.6;
  }
